
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/xDU00/blogstuff/refs/heads/main/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/xDU00/blogstuff/refs/heads/main/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/xDU00/blogstuff/refs/heads/main/favicon.ico">
{% if site.pwa.enabled %}
  <link rel="manifest" href="https://raw.githubusercontent.com/xDU00/blogstuff/refs/heads/main/favicon.ico">
{% endif %}
<link rel="shortcut icon" href="https://raw.githubusercontent.com/xDU00/blogstuff/refs/heads/main/favicon.ico">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ favicon_path }}/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
