---
import type { CollectionEntry } from "astro:content";

import { postConfig } from "@/config";
import Twikoo from "./Twikoo.astro";


interface Props {
    post: CollectionEntry<"posts">;
}

const { id } = Astro.props.post;

const path = `/posts/${id}/`;
const url = `${Astro.site?.href}${path}`;

let commentService = "";
if (postConfig.comment?.enable && postConfig.comment?.twikoo) {
    commentService = "twikoo";
}
---

{postConfig.comment?.enable && (
    <div class="card-base p-6 mb-4">
        {commentService === 'twikoo' && <Twikoo path={path} />}
        {commentService === '' && null}
    </div>
)}